<app-header></app-header>
<div class="form-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <input
      type="email"
      placeholder="Email"
      name="Email"
      [(ngModel)]="formData.email"
      #email="ngModel"
      required
      email
    />
    <div *ngIf="(loginForm.submitted || email.touched) && email.invalid">
      <small *ngIf="email.errors?.['required']">*Email is required</small>
      <small *ngIf="email.errors?.['email']">*Please enter a valid Email</small>
    </div>

    <input
      type="password"
      placeholder="Password"
      name="Password"
      [(ngModel)]="formData.password"
      #password="ngModel"
      required
      minlength="6"
    />
    <div *ngIf="(loginForm.submitted || password.touched) && password.invalid">
      <small *ngIf="password.errors?.['required']">*Password is required</small>
      <small *ngIf="password.errors?.['minlength']"
        >*Password must be at least 6 characters</small
      >
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </form>
</div>
<app-footer></app-footer>
