<!-- <app-header></app-header> -->
 <app-header></app-header>
<div class="form-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <input
      type="email"
      placeholder="Email"
      name="Email"
      [(ngModel)]="formData.Email"
      #Email="ngModel"
      required
      email
    />
    <div *ngIf="(loginForm.submitted || Email.touched) && Email.invalid">
      <small *ngIf="Email.errors?.['required']">*Email is required</small>
      <small *ngIf="Email.errors?.['email']">*Please enter a valid Email</small>
    </div>

    <input
      type="password"
      placeholder="Password"
      name="Password"
      [(ngModel)]="formData.Password"
      #Password="ngModel"
      required
      minlength="6"
    />
    <div *ngIf="(loginForm.submitted || Password.touched) && Password.invalid">
      <small *ngIf="Password.errors?.['required']">*Password is required</small>
      <small *ngIf="Password.errors?.['minlength']"
        >*Password must be at least 6 characters</small
      >
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </form>
</div>
<app-footer></app-footer>
