<app-header class="app-header"></app-header>
<div class="form-container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <input
      type="text"
      placeholder="firstName"
      name="firstName"
      [(ngModel)]="formData.firstName"
      #firstName="ngModel"
      required
    />
    <div *ngIf="(registerForm.submitted || firstName.touched) && firstName.invalid">
      <small *ngIf="firstName.errors?.['required']"
        >*First Name is required</small
      >
    </div>

    <input  
      type="text"
      placeholder="LastName"
      name="lastName"
      [(ngModel)]="formData.lastName"
      #lastName="ngModel"
      required
    />
    <div *ngIf="(registerForm.submitted || lastName.touched) && lastName.invalid">
      <small *ngIf="lastName.errors?.['required']">*Last Name is required</small>
    </div>

    <input
      type="email"
      placeholder="email"
      name="email"
      [(ngModel)]="formData.email"
      #email="ngModel"
      required
      email
    />
    <div *ngIf="(registerForm.submitted || email.touched) && email.invalid">
      <small *ngIf="email.errors?.['required']">*email is required</small>
      <small *ngIf="email.errors?.['email']">*Please enter a valid email</small>
    </div>

    <input
      type="text"
      placeholder="Enter your phone"
      name="phone"
      #phone="ngModel"
      [(ngModel)]="formData.phone"
      required
      pattern="^[0-9]{10}$"
    />
    <div *ngIf="(registerForm.submitted || phone.touched) && phone.invalid">
      <small *ngIf="phone.errors?.['required']"
        >*Mobile phone is required</small
      >
      <small *ngIf="phone.errors?.['pattern']"
        >*Enter a valid 10-digit phone</small
      >
    </div>

    <input
      type="password"
      placeholder="password"
      name="password"
      [(ngModel)]="formData.password"
      #password="ngModel"
      required
      minlength="6"
      pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).+$"
    />
    <div *ngIf="(registerForm.submitted || password.touched) && password.invalid">
      <small *ngIf="password.errors?.['required']">*password is required</small>
      <small *ngIf="password.errors?.['minlength']"
        >*password must be at least 6 characters</small>
        <small *ngIf="password.errors?.['pattern']">
          password must have at least 1 uppercase letter, 1 number, and 1 symbol.
        </small>
       
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
  <p>Already have an account? <a routerLink="/login">Login here</a></p>
</div>

<app-footer></app-footer>
