<header class="app-header">
  <div class="logo-container">
    <img
      class="logo"
      routerLink="/"
      src="https://i.ibb.co/nNj1rnDw/Screenshot-logo.png"
      alt="logo-image"
    />
  </div>
  <div class="search-bar-container">
    <app-search-bar
      class="search-bar"
      (search)="onSearchReceived($event)"
    ></app-search-bar>
  </div>
  <div class="auth-container">
    <ng-container *ngIf="!isLoggedIn; else logoutTemplate">
      <button routerLink="/register" nz-button nzType="primary">
        Login/Signup
      </button>
    </ng-container>
    <ng-template #logoutTemplate>
      <button (click)="logout()" nz-button nzType="primary" nzDanger="">Logout</button>
    </ng-template>
  </div>
  <div>
    <nz-icon class="user-icon" nzType="user" nzTheme="outline" />
  </div>
</header>

<!-- <header class="app-header">
  <div class="logo-container">
    <img
      class="logo"
      routerLink="/"
      src="https://i.ibb.co/nNj1rnDw/Screenshot-logo.png"
      alt="logo-image"
    />
  </div>
  <div class="search-bar-container">
    <app-search-bar
      class="search-bar"
      (search)="onSearchReceived($event)"
    ></app-search-bar>
  </div>
  <div class="auth-container">
    <ng-container *ngIf="!isLoggedIn; else logoutTemplate">
      <button routerLink="/register" nz-button nzType="primary">
        Login/Signup
      </button>
    </ng-container>
    <ng-template #logoutTemplate>
      <button (click)="logout()" nz-button nzType="primary" nzDanger="">Logout</button>
    </ng-template>
  </div>
  <div class="user-info">
    <nz-icon class="user-icon" nzType="user" nzTheme="outline"></nz-icon>
    <span class="greeting" *ngIf="isLoggedIn">Hi, {{ username }}</span>
  </div>
</header> -->
<!-- 
<header class="app-header">
  <div class="logo-container">
    <img
      class="logo"
      routerLink="/"
      src="https://i.ibb.co/nNj1rnDw/Screenshot-logo.png"
      alt="logo-image"
    />
  </div>
  <div class="search-bar-container">
    <app-search-bar
      class="search-bar"
      (search)="onSearchReceived($event)"
    ></app-search-bar>
  </div>
  <div class="auth-container">
    <ng-container *ngIf="!isLoggedIn; else logoutTemplate">
      <button routerLink="/register" nz-button nzType="primary">
        Login/Signup
      </button>
    </ng-container>
    <ng-template #logoutTemplate>
      <button (click)="logout()" nz-button nzType="primary" nzDanger="">Logout</button>
    </ng-template>
  </div>
  <div class="user-info" *ngIf="isLoggedIn">
    <nz-icon class="user-icon" nzType="user" nzTheme="outline"></nz-icon>
    <span class="greeting">Hi, {{ username }}</span>
  </div>
</header> -->