<header class="app-header">
  <div class="logo-container">
    <img
      class="logo"
      (click)="navigateToDashboard()"
      src="https://i.ibb.co/nNj1rnDw/Screenshot-logo.png"
      alt="logo-image"
    />
  </div>
  <div class="search-bar-container">
    <app-search-bar
      class="search-bar"
      (search)="onSearchReceived($event)"
    ></app-search-bar>
  </div>
  <div class="auth-container">
    <ng-container *ngIf="!isLoggedIn; else logoutTemplate">
      <button routerLink="/register" nz-button nzType="primary">
        Login/Signup
      </button>
    </ng-container>
    <ng-template #logoutTemplate>
      <button (click)="logout()" nz-button nzType="primary" nzDanger="">
        Logout
      </button>
    </ng-template>
  </div>

  <div class="user-profile" *ngIf="loggedInUser">
    <span class="greeting">Hi, {{ loggedInUser.firstName }}</span>
    <nz-icon class="user-icon" nzType="user" nzTheme="outline" />
  </div>
  
  <div  *ngIf="!loggedInUser">
    <nz-icon class="user-icon" nzType="user" nzTheme="outline" />
  </div>


</header>
