[nz-carousel-content] {
    text-align: center;
    background: #364d79;
    color: #fff;
    overflow: hidden;
    border: 2px solid red;
  }
  
  .carousel-img {
    height: 100%;
    width: 100vw;
  }
  